<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="account" class="config.account.Account">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="1200.15"/>
    </bean>
    <bean id="anotherAccount" class="config.account.Account">
        <constructor-arg index="0" value="2"/>
        <constructor-arg index="1" value="999"/>
    </bean>
    <bean id="transaction" class="config.Transaction">
    </bean>

</beans>